In [1]:
import pandas as pd


names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

dataset = list(zip(names, births))

dataset

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [6]:
df = pd.DataFrame(data = dataset, columns=['Names', 'Births'])
df['deaths'] = df['Births'] * 0.3
df

     Names  Births  deaths
0      Bob     968   290.4
1  Jessica     155    46.5
2     Mary      77    23.1
3     John     578   173.4
4      Mel     973   291.9

In [29]:
df['b2'] = df['Births'].diff()
df['b2'].fillna(0, inplace = True)
df

     Names  Births  deaths     b2
0      Bob     968   290.4    0.0
1  Jessica     155    46.5 -813.0
2     Mary      77    23.1  -78.0
3     John     578   173.4  501.0
4      Mel     973   291.9  395.0